@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-gray: #eee;
  --color-dark-gray: #777;
}

/* switch to dark mode if body has dark class */
body.dark {
  --color-secondary: #fff;
  --color-primary: #000;
  --color-gray: #222;
  --color-dark-gray: #777; /* redefining the color */
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all 350ms linear;

  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  /* margin: 2rem 0; */
}
h2 {
  margin-bottom: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  outline: 2px solid var(--color-primary);
  outline-offset: -1px;
  border-collapse: collapse;
  border-radius: 10px;
}

.square {
  border: 1px solid var(--color-secondary);
  width: 166.666666667px;
  height: 166.666666667px;
  border-collapse: collapse;
  cursor: pointer;
  transition: background-color 200ms linear;
  position: relative;
}
.square:hover {
  background-color: var(--color-gray);
}

/* X symbol styling */
.x {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--color-secondary);
  height: 120px;
  width: 5px;
  transition: transform 250ms linear;
}
.x-1 {
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
}
.x-1.shown {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.x-2 {
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
}
.x-2.shown {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}

/* O symbol styling */
.o {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: transparent;
  border: 5px solid var(--color-secondary);
  transition: transform 250ms linear;
}
.o.shown {
  transform: translate(-50%, -50%) scale(1);
}

/* animation to all the figure divs */
.square > div {
  transition: transform 250ms linear;
}

/* Winning annimation */
@keyframes winning {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.animation {
  animation: winning 1000ms linear;
}

/* styling the icons */
.fa-lightbulb,
.fa-volume-up,
.fa-volume-mute {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-secondary);
  cursor: pointer;
  transition: transform 250ms linear;
}

.fa-lightbulb:hover,
.fa-volume-up:hover,
.fa-volume-mute:hover {
  color: var(--color-dark-gray);
}

.fa-volume-up,
.fa-volume-mute {
  top: 3.5rem;
}

.player-count {
  position: relative;
  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-user {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-secondary);
  cursor: pointer;
  transition: transform 250ms linear;
}
.user-1 {
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateY(-50%);
}
.user-2 {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

/* styling player stats */
aside {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.player h2 {
  margin: 0;
  text-transform: uppercase;
}
.player small {
  font-size: 1.5rem;
}

/* dispay-none */
.display-none {
  display: none;
}

/* media queries!!! */
/* 
BreakPoint - 1200px
BreakPoint2 - 450px
*/

@media only screen and (max-width: 56.25em) {
  .container {
    width: 400px;
    height: 400px;
    outline: 4px solid var(--color-primary);
  }

  .square {
    width: 133.333333333px;
    height: 133.3333px;
  }

  .x {
    height: 100px;
  }

  .o {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 28.125em) {
  .container {
    width: 250px;
    height: 250px;
    outline: 3px solid var(--color-primary);
  }

  .square {
    width: 83.3333333333px;
    height: 83.3333333333px;
  }

  .x {
    height: 50px;
  }

  .o {
    width: 50px;
    height: 50px;
  }
}
